
/* Ogólne ustawienia */
body
{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #444;
    color: #fff;
    font-size: 20px;
}

a {
    text-decoration: none;
}

/* Pasek nawigacyjny, header */
.navbar
{
    background-color: #333;
    padding: 8px 0;
}

/* Kontener paska nawigacyjnego */
.navbar-con
{
    max-width: 1200px;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

/* Przycisk powrotu do strony głównej */
.home-button
{
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 3px 3px;
    transition: background 0.15s ease;
    cursor: pointer;
}

/* Obrazek przycisku powrotu do strony głównej */
.home-button img
{
    width: 30px;
    height: 30px;
    filter: invert(1);
}

/* Przyciski */
input[type="submit"],
.button-con button,
.nav-link button
{
    padding: 4px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    transition: background 0.15s ease;
    font-size: 17px;
    color: #fff;
}

.home-button:hover,
input[type="submit"]:hover,
.button-con button:hover,
.nav-link button:hover
{
    background-color: #555;
}

/* Kontener wyśrodkowujący */
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kontener na inne kontenery */
.functions-con
{
    display: grid;
    height: 90vh;
}

/* Kontener na wyszukiwarkę */
.searching-con
{
    padding: 70px 0 0 0;
}

.searching-con form
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Tekst na stronie tytułowej */
.text-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.button-con
{
    display: flex;
    justify-content: center;
}


.input-con
{
    margin-bottom: 30px;
}

/* Pola do wprowadzania tekstu */
.input-query, .input-problem
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    height: 14px;
    width: 500px;
    font-size: 20px;
}

/* Główny kontener */
.main-con
{
    margin: 30px 40px 0 40px;
}

/* Tekst */
.text-label
{
    margin-bottom: 10px;
}

/* Mały tekst */
.small-text-label
{
    font-size: 17px;
    margin-bottom: 10px;
}

/* Kontener na tytuł problemu */
.prob-label
{
    font-size: 25px;
    margin: 15px 0 20px 0;
}

/* Kontener na rozwiązanie */
.sol-con
{
    background-color: #333;
    padding: 20px;
    padding-bottom: 40px;
    margin: 15px 0 20px 0;
    border-radius: 5px;
    font-size: 20px;
}

.main-con .button-con
{
    display: block;
}

/* Pojemniki na linki */
.sim-prob-con
{
    margin: 20px 0 15px 15px;
}

/* Linki do podobnych problemów */
.sim-prob
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.sim-prob:hover
{
    text-decoration: underline;
}
