body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #444;
}

mian {
    height: 300px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 8px 0;
}

.navbar-con {
    max-width: 1200px;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.home-button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 3px 3px;
    transition: background 0.15s ease;
}

.home-button:hover {
    background-color: #555;
}

.home-button img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.functions-con {
    display: grid;
    height: 90vh;
}

.searching-con {
    padding: 70px 0 0 0;
}

.text-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-con text {
    color: #fff;
    font-size: 40px;
}

.searching-con form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

input[type="submit"] {
    padding: 4px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    transition: background 0.15s ease;
    font-size: 17px;
}

input[type="submit"]:hover {
    background-color: #555;
}

.input-query {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    height: 14px;
    width: 500px;
    font-size: 20px;
}

.button-con {
    display: flex;
    justify-content: center;
}

.button-con button {
    padding: 4px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    transition: background 0.15s ease;
    font-size: 17px;
}

.button-con button:hover {
    background-color: #555;
}

/* for "enter_problem" */

.prob-form {
    padding: 20px 0 0 40px;
}

.input-problem {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    height: 14px;
    width: 550px;
    font-size: 20px;
}

.prob-form p label {
    color: #fff;
    font-size: 20px;
}
