<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Wprowadź problem</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar-con">
            <a href="{% url 'main_page' %}">
                <button class="home-button">
                    <img src="{% static 'problems_app/185038_home_house_icon.png' %}">
                </button>
            </a>
            <a href="{% url 'all_solutions' 'name' %}" class="nav-link">
                <button>
                    <text> Lista rozwiązań </text>
                </button>
            </a>
        </div>
    </header>
    <main>
        <form method="post" class="main-con">
            {% csrf_token %}
            <div class="text-label">
                <label for="{{ form.pdata.id_for_label }}">Treść problemu:</label>
            </div>
            <div class="input-con">
                {{ form.pdata }}
            </div>
            <div class="text-label">
                <label for="{{ form.sdata.id_for_label }}">Rozwiązanie:</label>
            </div>
            <div class="input-con">
                {{ form.sdata }}
                {{ form.media }}
            </div>
            <div class="input-con">
                <input type="submit" value="Zatwierdź rozwiązanie">
            </div>
        </form>
    </main>
</body>
</html>
