<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Lista rozwiązań</title>
</head>
<body>
    {% include 'problems_app/navbar.html' %}
    <main>
        <div class="main-con">
            <div class="title-con">
                <text>Lista rozwiązań</text>
            </div>
            <div class="small-text-label">
                <text>Sortuj:</text>
            </div>
            <div class="sort-button-con">
                <a href="{% url 'all_solutions' 'name' direction %}" class="first-button">
                        <button>
                            <text>nazwa</text>
                        </button>
                </a>
                <a href="{% url 'all_solutions' sorting 'asc' %}" class="second-button">
                        <button>
                            <text>rosnąco</text>
                        </button>
                </a>
            </div>
            <div class="sort-button-con">
                <a href="{% url 'all_solutions' 'date' direction %}" class="first-button">
                        <button>
                            <text>data</text>
                        </button>
                </a>
                <a href="{% url 'all_solutions' sorting 'desc' %}" class="second-button">
                        <button>
                            <text>malejąco</text>
                        </button>
                </a>
            </div>
            {% for obj in alls %}
            <br />
            <div class="sim-prob-con">
                    <a href="{% url 'solution' obj.solution_id %}" class="sim-prob"> {{ obj.problem_content_text }} </a>
            </div>
            {% empty %}
            <br />
            <div class="text-label">
                <text>Brak wyników</text>
            </div>
            {% endfor %}
            <br /> <br />
        </div>
    </main>
</body>
</html>
