<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Edytuj rozwiązanie</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <main>
        <form method="post" class="main-con">
            {% csrf_token %}
            <div class="prob-label">
                <b>{{ obj.problem_content_text }}</b>
            </div>
            <div class="input-con">
                {{ form.data }}
                {{ form.media }}
                {% if is_edited %}
                {% else %}
                <div class="alert-con">
                    <text>Treść rozwiązania nie została zmieniona.</text>
                </div>
                {% endif %}
            </div>
            <div class="input-con">
                <input type="submit" value="Zatwierdź rozwiązanie">
            </div>
        </form>
    </main>
</body>
</html>
