<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Edytuj rozwiązanie</title>
</head>
<body>
    {% include 'problems_app/navbar.html' %}
    <main>
        <form method="post" class="main-con">
            {% csrf_token %}
            <div class="prob-label">
                <b>{{ problem }}</b>
            </div>
            <div class="input-con">
                {{ form.data }}
                {{ form.media }}
            </div>
            <div class="input-con">
                <input type="submit" value="Zatwierdź rozwiązanie">
            </div>
        </form>
    </main>
</body>
</html>
