<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Strona główna</title>
</head>
<body>
    {% include 'problems_app/navbar.html' %}
    <main>
        <div class="center">
            <form method="post" enctype="multipart/form-data" class="functions-con">
                {% csrf_token %}

                <div class="searching-area">
                    <div class="text-con">
                        <text> Wyszukaj rozwiązanie </text>
                    </div>
                    {{ form.data }}
                </div>

                <div class="text-area">
                    <div class="text-con">
                        <text> lub </text>
                    </div>
                </div>
                <div class="image-upload-area">
                    {{ form.image }}
                </div>
                <div class="button-con">
                    <input type="submit" value="Szukaj">
                </div>
            </form>
        </div>
    </main>
</body>
</html>