<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Strona główna</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar-con">
            <a href="{% url 'main_page' %}">
                <button class="home-button">
                    <img src="{% static 'problems_app/185038_home_house_icon.png' %}">
                </button>
            </a>
            <a href="{% url 'all_solutions' 'name' 'asc' %}" class="nav-link">
                <button>
                    <text> Lista rozwiązań </text>
                </button>
            </a>
        </div>
    </header>
    <main>
        <div class="center">
            <div class="functions-con">
                <div class="searching-con">
                    <div class="text-con">
                        <text> Wyszukaj problem </text>
                    </div>
                    <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Szukaj">
                    </form>
                </div>
                <div>
                    <div class="text-con">
                        <text> lub </text>
                    </div>
                </div>
                <div class="button-con">
                    <a href="{{ url_as }}">
                        <button>
                            <text> Wprowadź rozwiązanie </text>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>