{% load static %}
<header class="navbar">
    <div class="navbar-con">
        <a href="{% url 'main_page' %}">
            <button class="home-button">
                <img src="{% static 'problems_app/185038_home_house_icon.png' %}">
            </button>
        </a>
        <div>
            <a href="{% url 'all_solutions' 'name' 'asc' %}" class="nav-link">
            <button>
                <text> Lista rozwiązań </text>
            </button>
            </a>
            <a href="{% url 'add_solution' %}" class="nav-link">
                <button>
                    <text> Wprowadź rozwiązanie </text>
                </button>
            </a>
        </div>
    </div>
</header>
