<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Wyniki</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <main>
        <div class="main-con">
            {% if sims %}
            <div class="text-label">
                <text>Sugerowane rozwiązanie:</text>
            </div>
            {% with object=sims.0 %}
            {% include 'components/single_solution.html' %}
            {% endwith %}
            <div>
                <br /> <br /> <br />
            </div>
            <div class="text-label">
                <text>Podobne problemy:</text>
            </div>
            {% with list=sims|slice:"1:" %}
            {% include 'components/solution_list.html' %}
            {% endwith %}
            {% else %}
            <div class="text-label">
                <text>Brak wyników</text>
            </div>
            {% endif %}
        </div>
    </main>
</body>
</html>
