<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Rozwiązanie</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar-con">
            <a href="{% url 'main_page' %}">
                <button class="home-button">
                    <img src="{% static 'problems_app/185038_home_house_icon.png' %}">
                </button>
            </a>
            <div>
                <a href="{% url 'all_solutions' 'name' 'asc' %}" class="nav-link">
                <button>
                    <text> Lista rozwiązań </text>
                </button>
                </a>
                <a href="{% url 'add_solution' %}" class="nav-link">
                    <button>
                        <text> Wprowadź rozwiązanie </text>
                    </button>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="main-con">
            <div class="small-text-label">
                <text>Sugerowane rozwiązanie:</text>
            </div>
            <div class="prob-label">
                <b>{{ problem }} {{ pk }}</b>
            </div>
            <div class="sol-con">
                {{solution | safe}}
            </div>
            <div class="button-con">
                    <a href="{{ edit_url }}">
                        <button class="function-button">
                            <text>Edytuj to rozwiązanie</text>
                        </button>
                    </a>
            </div>
            <div>
                <br /> <br /> <br />
            </div>
            <div class="text-label">
                <text>Podobne problemy:</text>
            </div>
            <div>
                {% for p, url in list %}
                <div class="sim-prob-con">
                    <a href="{{ url }}" class="sim-prob"> {{ p }} </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>
