<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if solution != "" %}

    <text>Rozwiązanie:</text>
    {{solution}}
    <a href="{{ enter_url }}">Edytuj rozwiązanie</a>

    {% else %}

    <text>Ten problem nie ma jeszcze rozwiązania. Możesz dodać rozwiązanie lub zobaczyć podobne problemy.</text><br />
    <a href="{{ enter_url }}">Dodaj rozwiązanie</a><br />

    {% for i in list %}
        <br /><a> {{ i }} </a><br />
    {% endfor %}

    {% endif%}


</body>
</html>