<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Rozwiązanie</title>
</head>
<body>
    {% include 'problems_app/navbar.html' %}
    <main>
        <div class="main-con">
            <div class="prob-label">
                <b>{{ obj.problem_content_text }} {{ obj.pk }}</b>
            </div>
            <div class="sol-con">
                {{ obj.solution_content_richtext | safe }}
            </div>
            <div class="button-con">
                    <a href="{% url 'edit_solution' obj.solution_id %}">
                        <button class="function-button">
                            <text>Edytuj to rozwiązanie</text>
                        </button>
                    </a>
            </div>
            <div>
                <br /> <br /> <br />
            </div>
        </div>
    </main>
</body>
</html>
