<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'problems_app/styles.css' %}">
    <title>Logowanie</title>
</head>
<body>
    <main>
        <div class="center">
            <div class="functions-con">
                <div class="title-con">
                    <text>Zaloguj się</text>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                  <button type="submit">Zaloguj</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>